<div class="container my-4">
  <h1 class="text-center mb-4">Lista de Peliculas</h1>

  <div class="row g-4">
    <div class="col-md-3" *ngFor="let movie of movies">
      <div class="card h-100 shadow-sm">
        <img
          [src]="movie.posterImageUrl"
          class="card-img-top"
          alt="{{ movie.title }}"
        >

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text text-muted flex-grow-1">
            {{ movie.shortDescription}}
          </p>
          <p class="card-text mb-1">
            Año:
              {{ movie.releaseYear }}
          </p>
          <p class = card-text text-mutes>
            Director:
            {{movie.director}}
          </p>
          <a
            class="btn btn-primary mt-2 align-self-start"
            href="/movie/{{ movie.id }}"
          >
            Ver detalle
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



